{% load static %}

<!--Mask applied to darken the background image-->
<div id="intro" class="view" >

    <div class="mask rgba-black-strong">

        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-10">

                    <!-- Heading -->
                    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Easy Service Management</h2>

                    <!-- Divider -->
                    <hr class="hr-light">

                    <!-- Description -->
                    <h5 class="white-text my-4">Automate your business by getting out of those spreadsheets, track and manage each interaction in a secure platform. Get access to Cherwell's ‘no code’ platform at a fraction of the commitment. StreamLine Partners is now offering full access to your own tenanted Cherwell Enterprise instance from as little as 3 licences. Full option to 'Self-Service' onboard or consultant guided onboarding packages available. Simple credit card sign up with the option to bill monthly or annually.</h5>
                    <button type="button" class="btn btn-outline-white">Read more<i class="fas fa-book ml-2"></i></button>

                </div>

            </div>

        </div>

    </div>

</div>
