{% load static %}

<!--Transparent Background Navbar - for Landing Page-->
{% if landing_page%}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
{% else %}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top primary-color">
{% endif %}

    <div class="container">

        <!-- Load the Brand for the NavBar -->
        {% include "main/navbars/brand.html" %}

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "main:home"%}#intro">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "main:home" %}#best-features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "main:home" %}#examples">Examples</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "main:home" %}#gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "main:home" %}#contact">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{% url "main:site_config"%}">Admin</a>
{#                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url "main:site_config"%}" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>#}
{#                    <div class="dropdown-menu">#}
{#                        <a class="dropdown-item" href="{% url "main:site_config"%}">Site Configuration</a>#}
{#                    </div>#}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pricing">Pricing</a>
                </li>

            </ul>
            <!-- End Links -->

            <!-- Social Icon  -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
            <!-- End Social Icons -->

            <!-- End Collapsible content -->
        </div>
    </div>
</nav>